.catalog {
  background-color: @lightest-grey;
  .wrapper();
  padding-bottom: 60px;
  display: grid;

  @media (min-width: @tablet-width) {
    padding-bottom: 100px;

  }
  @media (min-width: @desktop-width) {
    grid-template-columns: 318px 1011px;
    column-gap: 30px;
    padding-bottom: 120px;
  }
}

.catalog__description {
  margin-top: 0;
  margin-bottom: 20px;
}
.catalog__sort {
  margin-top: 36px;
  margin-bottom: 16px;

  @media (min-width: @tablet-width) {
    margin-top: 40px;
    margin-bottom: 26px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 16px;
    margin-bottom: 26px;
  }
}

@media (min-width: @desktop-width) {
  .catalog__heading,
  .catalog__description {
    grid-column: 1/-1;
  }

  .catalog__filter {
    grid-row: 3/5;
    padding-top: 20px;
  }
}


