.main-footer {
  display: grid;
}

.main-footer__field {
  padding: 20px;
  border-bottom: 1px solid @base-secondary;

  &:last-child {
    border: none;
  }

  @media (min-width: @tablet-width) {
    border: none;
    padding: 0;
  }
}

.main-footer__heading {
  .h4-text();
  margin: 0;
  margin-bottom: 12px;

  &--contacts {
    margin-bottom: 20px;
  }
}

.main-footer__list {
  .reset-list();
}

.main-footer__link {
  .reset-link();
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
  padding: 8px 0;
  margin-top: 4px;

  &:hover {
    color: @primary-lighter;
  }

  &:active {
    color: @primary-darker;
  }

  &--address {
    background-image: url("../../img/icon-address.svg");
  }
  &--tel {
    background-image: url("../../img/icon-phone.svg");
  }

  &--address,
  &--tel {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-transform: none;
    margin-top: 16px;
    padding: 0;
    padding-left: 20px;
    background-repeat: no-repeat;
    background-position-y: 2px;
  }
}

.main-footer__field--nav {
  @media (min-width: @desktop-width) {
    margin-top: 50px;
  }
}

.main-footer__field--copyright {
  padding-bottom: 30px;

  @media (min-width: @tablet-width) {
    padding-top: 30px;
    padding-bottom: 40px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 20px;
  }
}

.main-footer__copyright {
  display: flex;
  justify-content: center;
  align-items: baseline;
  color: @base-grey;
  font-size: 12px;
  line-height: 16px;
  margin: 0 auto;
}

.main-footer__copyright-link {
  .reset-link();
  display: flex;
  width: fit-content;
  padding-left: 3px;

  &:hover {
    color: @base-primary;
  }

  &:active {
    color: @primary-darker;
  }
}

.main-footer__copyright-logo {
  margin-left: 4px;
}


@media (min-width: @tablet-width) {
  .main-footer {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    .wrapper();
  }

  .main-footer__field--top,
  .main-footer__field--copyright {
    grid-column: 1/-1;
  }
}

@media (min-width: @desktop-width) {
  .main-footer {
    grid-template-columns: repeat(4, 1fr);
  }

  .main-footer__field--top {
    grid-column: 1/2;
  }
}
