.price-field {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.price-field__slider {
  position: relative;
  width: 280px;
  height: 2px;
  background-color: @light-grey;
  margin: 31px 0;

  &::before {
    position: absolute;
    top: -11px;
    left: 0;
    content: "";
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 2px solid #9070EC;
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    top: -11px;
    right: 20px;
    content: "";
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border: 2px solid #9070EC;
    border-radius: 50%;
  }
}

.price-field__input {
  box-sizing: border-box;
  width: 125px;
  height: 40px;
  border: 2px solid #9070EC;
  border-radius: 4px;
  font-weight: 500;
  text-align: center;

  &::placeholder {
    color: @base-grey;
  }

  &:focus {
    outline: none;
    border-color: @primary-darker;
  }

  &:disabled {
    border-color: @light-grey;
    background-color: @lightest-grey;
    color: @base-grey;
  }
}

.price-field__dash {
  display: block;
  width: 10px;
  height: 2px;
  background-color: @base-grey;
  align-self: center;
}

