.social__list {
  .reset-list();
  display: flex;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  color: @base-grey;

  &:hover {
    color: @base-primary;
    background-color: @base-secondary;
  }
  &:active {
    background-color: @primary-opacity;
  }
}

.social__item {
  margin-left: 20px;

  @media (min-width: @desktop-width) {
    margin-right: 20px;
    margin-left: 0;
  }
}
