.sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.sort__heading {
  .label-text();
  margin: 0;
}

.sort__selected {
  .label-text();
  color: @base-primary;
  border: none;
  background-color: transparent;
}

.sort__list--closed {
  display: none;
}
